
body{
    width: 400px;
    height: auto;
}


.loader {
    padding: 50px 0;
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 10px;
    animation: loader 0.8s infinite alternate;
    -webkit-animation: loader 0.8s infinite alternate;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.loader span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}



.hidden {
   display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.textBox{

    height: 120px;
    border: rgb(27, 27, 27) solid 1px;
    margin: 10px ;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #878787; 
}
.copyBtn{
    background-color: rgb(0, 119, 255);
    border: 0px;
    position: relative;
    left: 90%;
}

.copyButton {
    padding: 1em;
    font-size: 0.8rem;
    padding: 5px 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    background: #0C4D8B;
    color: white;
    position: relative;
    transition: .2s;
    
    &.active {
      background: #061A40;
    }
  }
  